{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  
  <br><h1 align="center">Kopy</h1><br>
  <p align="center">I am too lazy to sort them out so they mostly read like a tweet strorm of random stuff.</p><hr><hr>

  <br><p align="center"><a href="https://open.spotify.com/playlist/6QlzEWGkZvBMo7uCVzJRfq?si=CTFy4P9jSTy65-l2w8HX9g&nd=1" 
    target=_blank> On Software </a> - This is a playlist related to the business 
    of software and tech from vantage points ranging from founders, operators, and investors. </p><hr>

    <a href="https://www.youtube.com/watch?v=6nKfFHuouzA&t=1084s" target=_blank> Jeff Bezos at Startup School 08 (video) </a><br>

		<p> This was a blast from the past, and a very important moment for the software industry. This was effectively the coming out for Amazon Web Services and their core EC2 and S3 product. Bezos is here seen effectively pitching to some of his first potential customers in the crowd. 
      He leaves his audience with a compelling question to ask when evaluating the build vs buy debate: Does it make the beer taste better? </p>
      
      <hr><a href="https://www.youtube.com/watch?v=PUhtHojSphk&t=292s" target=_blank> Peter Thiel and Marc Andreessen debate (video) </a><br>

      <p> Anytime either of the two gentleman do a speaking engagement I find myself listening. 
        From Netscape to PayPal, Andreesen and Thiel are legends of Silicon Valley and carry intriguing ideas on innovation and growth. The debate is a showcase on how they both think about funding the future and where they differ in assessing the progress we've made up to today.</p>
  
      <hr><a href="https://www.youtube.com/watch?v=qw6kW1nQxi8&t=116s" target=_blank> The Present and Future of Crypto with Naval Ravikant and Balaji Srinivasan (video) </a>
  
      <p> Having linked to Moxie's essay questioning the need for Web3 technologies, I thought it would only be fair to include a talk from Balaji Srinivasan and Naval Ravikant. 
        Both are investors in this brave new world, and each do the explanations of this nascent technologies potential justice. Both Naval and Balaji are excellent podcast guests and I would suggest listening to them each on the Tim Ferriss podcast. </p>  
  
      <hr><a href="https://www.youtube.com/watch?v=OuvrZFJLXSk&t=1216s" target=_blank> Mark Zuckerberg talks to Tyler Cowen, and Patrick Collison (video) </a>
  
      <p> This is a tour-de-force of brainpower on display. The topic of discussion is around the moral obligation to grow the economy for all. 
        The rising tide lifts all boats. Tyler Cowen is a hellacious thinker - and his ideas are on full display with Zuck and PC during this convo. </b>
  
      <hr><a href="https://www.youtube.com/watch?v=XeKWeBw1R5A&t=384s" target=_blank> Cloudflare Launch // TechCrunch Disrupt SF 2010 (video)</a>
  
      <p> What more needs to be said. Here linked is the coming out party for Cloudflare back in 2010. The journey has been long for Michelle and Matthew, and everyone involved today would tell you that we are just getting started. This was one of the first videos I watched when I was applying to Cloudflare - and my favorite part is that the goal and narrative have not moved an inch. 
        The purpose of our existence is to make the Internet a faster, safer, and more reliable place for the world to connect. </p><hr>

        <a href="https://stratechery.com/2020/the-end-of-the-beginning/" target=_blank> End of the Beginning</a>

        <br><p>Ben Thompson // This was a very formative blog for me to begin understanding the coming wave of what is going to be built between the hyperscalers and the mobile devices we use today. 
          None of this is to say that innovation is ending, but rather the next great start ups are leveraging the existing ecosystems in place to create something new. </p>
       <hr>
   
       <a href="https://meltingasphalt.com/a-codebase-is-an-organism/#:~:text=The%20computer%20is%20a%20machine,to%20deal%20with%20an%20organism." target=_blank> A Codebase is an Organism </a><br>
   
        <p>Kevin Simler // As an outsider to developing...well..anything really, I found this to be a refreshing philosophical spin on an other wise opaque topic around engineering. 
          Likening the bits and bites assosciated with code to that of cells in an evolutionary organism puts into perspective the daunting work needed to maintain the applications ecosystem. </p>
       
       <hr><a href="https://www.notboring.co/p/apis-all-the-way-down" target=_blank> API's All The Way Down </a>
   
        <p> Packy McCormick // This was a very formative blog for me to begin understanding the coming wave of what is going to be built between the hyperscalers and the mobile devices we use today. None of this is to say that innovation is ending, but rather the next great start ups are leveraging the existing ecosystems in place to create something new. </p>
   
       <hr><a href="https://hhhypergrowth.com/a-brief-history-of-application-development/" target=_blank>A Brief History of Application Development</a>
   
        <p>Muji // A solid spot to start if you are looking for in depth takes at how the idea of system design and the SDLC have evolved over the course of several years. I find myself returning to Hhhypergrowth for new takes on companies like Snowflake, Crowdstrike, Datadog, and Cloudflare </p>
   
       <hr><a href="https://www.gwern.net/Computers" target=_blank>How Many Computers Are In Your Computer?</a>
   
       <p>Gwern // Similar to Melting Asphalt, I find myself looking through Gwern's archive in hopes of finding big picture ideas about computing in general. Gwern is an estute generalist and the curious nature of his writing is very engaging despite the density of the subject matter. </p>
   
       <hr><a href="https://moxie.org/2022/01/07/web3-first-impressions.html" target=_blank>My first impressions of web3</a>
   
       <br><p>Moxie Marlinspike // I found this to be a refreshing perspective on the blockchain ecosystem coming from a bonafide cyrptographer. 
        Often, valid critisim in public is met with crude shrugs like NGMI or Have Fun Staying Poor. 
        In hostile environments like this - the best response is often a long and interupted one.</p>
   
       <hr><a href="https://kwokchain.com/2021/09/29/narrative-distillation-1/" target=_blank>Narrative Distillation</a>
   
       <p>Kevin Kwon // The best story wins, which is entirely ironic given were told we live in a world full of complex systems. 
        Kevin has great and in depth essays, his latest on assessing the fundraising environment and how founders have crafted their pitch is both 
        timely and intriguing to think about. </p>
   
       <hr><a href="https://www.dreamsongs.com/WorseIsBetter.html" target=_blank>Worse is Better</a>
   
       <br><p>Richard Gabriel // Doubling as both an incredible computer scientist and penman, 
        Richard Gabriel gave us one of the best pieces of advice imaginable when conjuring up an MVP. 
        Just get the thing out there and iterate from there. It has become a bit overused, but the idea has far reaching implications. </p>
   
       <hr><a href="http://www.paulgraham.com/hwh.html" target=_blank>How to Work Hard</a>
   
       <br><p>Paul Graham // Listing a PG blog is cliche, yes. But cliches become used because they hold truth. 
        I could list several essays that Paul has wrote, but this somewhat recent one has become a particular revisit for me. 
        Despite our best wishes, there are no short cuts. Hard work is neccessary in any line of work. 
        How you work hard and what you work on is entirely up to you. But it should feel like play to you, and hard to others. </p>
   
       <hr><a href="https://www.generalist.com/briefing/what-to-watch-in-ai" target=_blank>What to Watch in AI</a>
   
       <p>Mario Gabriele // This is just well done. Up to this point I had not read much of the Generalist, 
        but Mario is both thorough in his writing and strong in his prose. AI takes many shapes and forms, 
        and many have said it is akin the electrification of modern machinery. This is a good start for anyone seeking practical 
        use cases for this tech. </p><br><br>

 <p align="center">Shill me something new below.</p>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
      {{ note.data }}
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
  <form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Check this out</button>
    </div>
  </form><br><br>
  {% endblock %}