{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  
  <br><h1 align="center">What did you think was interesting today?</h1><br>
  <p align="center"> Share an article or a podcast you thought was interesting </p>
  <p align="center">Ideally tech, business...or sports :) </p>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
      {{ note.data }}
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
  <form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Check this out</button>
    </div>
  </form>
  {% endblock %}