{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <form method="POST">
      <br><h1 align="center">Welcome to Knurling</h1><br>
      <p align="center"> Thanks for droppin' by. </p>
      <p align="center">This is where I test Cloudflare AppSec products. </p>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <br><iframe src="https://giphy.com/embed/11KzOet1ElBDz2" width="1000" height="300" margin="auto" frameBorder="0" class="giphy-embed" 
    allowFullScreen></iframe><p><a href="https://giphy.com/gifs/eating-cowboy-bebop-11KzOet1ElBDz2"></a></p>

    {% endblock %}